body {
    font-family: sans-serif;
}

table, th, td  {
    border: 1px solid #000000;
    border-collapse: collapse;
}

table {
    width: 500px;
}

td {
    padding: 2px;
}

.wrapper {
    display: flex;
    gap: 40px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    gap: 10px;
    margin: 16px;
}

.drop-area {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #CCCCCC;
    border-radius: 20px;
    text-align: center;
}

.drop-area.hover {
    border: 2px dashed #007bff
}

#file-input::file-selector-button, .btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.upload-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.log {
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    margin: 16px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    background: #f1f1f1;
    overflow-y: scroll;
    font-family: monospace;
}

.jobs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    margin: 16px;
}

.delete-job-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delete-job {
    width: 230px;
    height: 37px;
    box-sizing: border-box;
}