table, th, td  {
    border: 1px solid #000000;
    border-collapse: collapse;
}

table {
    width: 500px;
}

td {
    padding: 2px;
}

.wrapper {
    display: flex;
    gap: 40px;
    font-family: sans-serif;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 16px;
}

#drop-area {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #CCCCCC;
    border-radius: 20px;
    text-align: center;
}

#drop-area.hover {
    border: 2px dashed #007bff
}

#upload-btn, #file-input::file-selector-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

#upload-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#message {
    margin-top: 10px;
    color: green;
    font-family: monospace;
    margin-left: 16px;
}

#log {
    box-sizing: border-box;
    width: 400px;
    height: 150px;
    margin-left: 16px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    background: #f1f1f1;
    overflow-y: scroll;
    font-family: monospace;
}