.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}

#drop-area {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 20px;
    text-align: center;
}

#drop-area.hover {
    border: 2px dashed #007bff
}

#upload-btn, #file-input::file-selector-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

#upload-btn:disabled, #file-input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#message {
    margin-top: 10px;
    color: green;
}
