<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music mood recommender</title>
    <link href="../static/assets/css/admin.css" rel="stylesheet">
</head>
<body>
<main>
    <div id="drop-area">
        <p>Drag & Drop your CSV file here or click to select</p>
        <input type="file" id="file-input" accept=".csv">
        <div id="progress-bar">
            <div id="progress"></div>
        </div>
    </div>
    <button id="upload-btn" disabled>Upload</button>
    <p id="message"></p>



</main>

<script defer src="../static/admin.js"></script>
</body>
</html>