<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music mood recommender</title>
    <link href="../static/assets/css/normalize.css" rel="stylesheet">
    <link href="../static/assets/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@500&family=Yanone+Kaffeesatz:wght@600&display=swap"
          rel="stylesheet">
</head>
<body>
<main>
    <div class="sections__container">
        <section class="section">
            <div class="section__content">
                <h2 class="section__header">Выбери настроение</h2>

                <div id="mood-container">
                    <span class="text top-left">агрессивное</span>
                    <span class="text top-right">счастливое</span>
                    <span class="text bottom-left">грустное</span>
                    <span class="text bottom-right">спокойное</span>
                    <div id="square">
                        <div id="circle" draggable="true"></div>
                    </div>
                </div>

                <button class="large-btn">Далее</button>
            </div>
        </section>

        <section class="section">
            <div class="section__content">
                <h2 class="section__header">Выбери жанр</h2>

                <div class="genres-container">
                </div>

                <button class="large-btn" id="generate-playlist">Создать плейлист</button>
            </div>
        </section>

        <section class="section section-songs">
            <div class="loading-animation"></div>
            <div class="section__content">
                <h2 class="section__header">Твой плейлист готов!</h2>

                <ul class="songs-list">
                </ul>
            </div>
        </section>
    </div>

</main>

<script defer src="../static/assets/js/2d_mood_slider.js"></script>
<script defer src="../static/assets/js/render.js"></script>
<script defer src="../static/assets/js/api_requests.js"></script>
<script defer src="../static/index.js"></script>
</body>
</html>